<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{UID}}" placeholder="User ID" name="user_id" disabled>
      <label for="floatingInput">User ID</label>
    </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.duration}}" placeholder="Text" name="duration">
      <label for="floatingInput">Duration</label>
    </div>
  </div>
  
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.activity}}" placeholder="Text" name="activity">
      <label for="floatingInput">Activity</label>
    </div>
  </div>
  
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</div>