<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{UID}}" placeholder="User ID" name="user_id" disabled>
      <label for="floatingInput">User ID</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.type}}" placeholder="Type" name="type">
      <label for="floatingInput">Type</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.food_name}}" placeholder="Food Name" name="food_name">
      <label for="floatingInput">Food Name</label>
    </div>
  </div>
  
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</div>